.engineer{
    display: grid;
    grid-template-columns: 3fr, 1fr;
    border: 2px solid rgb(144, 153, 126);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 9px;
}

.image{
    margin: 2 auto;
    height: 200px;
    border-radius: 10px;
}

.btn-regular{
    padding: 5px;
    width: 150px;
    background-color: goldenrod;
    margin: 60px;
    margin-right: 80px;
    
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
}